.loginWrapper {
padding-top: 50px;
}

h3{
    font-size: 1.625rem;
    color: #000;
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .loginWrapper {
        padding-top: 61px;
    }
}
@media (min-width: 1400px) {
    .loginWrapper {
               padding-top: 71px;
    }
}
@media (min-width: 1600px) {
    .loginWrapper {
               padding-top: 90px;
    }
}