.loginWrapper {
    padding-block: 50px;
}

h3 {
    font-size: 1.625rem;
    color: #000;
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .loginWrapper {
        padding-block: 100px;
    }
}

@media (min-width: 1200px) {
    .loginWrapper {
        padding-block: 150px;
    }
}

@media (min-width: 1600px) {
    .loginWrapper {
        padding-block: 250px;
    }
}