.footerBrand{
    max-width: 90px;
        margin-inline: auto;
        display: block;
        margin-bottom: 10px;
}

@media (min-width:768px) {
    .footerBrand{
        margin-inline: unset;
           max-width: 150px;
}
}